

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* -----------toolbar------------------------------ */

.navbar {
  background-color: aquamarine;
  height: 6rem;
  width: 100vw;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.menu-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  position: fixed;
  margin-left: 3rem;
}

.fa-times,.fa-bars {
  color: lightsteelblue;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.toolbar {
  height: 4rem;
  width: 70vw;
  background-color: white;
  margin-left: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tool-icon
{
    height:3rem;
    width: 3rem;
   
}

/* pencil */

/* #pencil{


} */


.pencil-tool{

  width: 10rem;	
	height: 7rem;
  position: absolute;
  top: 5.5rem;
  left: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity:0;
}

.pencil-size{

  width: 100%;
  height: 35%;
  
}

.wrapper {
  position: absolute ;
  width: 100%;
  top : 0 ;
  left: 0 ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  background-color: #043643 ;
 
 

}

custom-slider {
  transform: scale(0.75);
}


/* pencil color */

.pencil-color{

 background-color: white;
  width:100%;
  height:65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1.1rem;
  padding-right: 0.5rem;
  

}

.color-container{

  flex: 1 1 25%;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  height:33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color{

  background-color: blue;
  height:1.2rem;
  width:1.5rem;
  border-radius: 40%;

}

.pink{
  background-color: #ffaaa6 ;
}

.blue{
  background-color: #00cec9 ;
}

.green{
  background-color:#b8e994 ;
}

.purple{
  background-color: #a58faa;
}

.orange{
  background-color: #ffb037;
}

.black{
  background-color: black;
}








/* --------------------------------- canvas------------------------------ */
#canvas{

  top: 6rem;
  height: 1280px;
  width: 1280px;
  background-color: thistle;

}

@media only screen and (max-width: 688px) {

  .navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 8rem;
    justify-content: space-between;
    position: fixed;
    
    
  }
 
  .toolbar{

    height: 80vh;
    width: 4rem; 
    margin-left: 3rem; 
    margin-top: 4rem;   
    z-index: 2; 
    flex-direction: column;   
    

  } 

  .tool-icon{
      height: 2rem;
      width: 2rem;
  }
}
